.books_container_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 40px;
    background-color: #fff;
  }
  
  /*
  ispod zaglavlja u delu za glavni sadrzaj se nalazi kontejner za brzi pregled nekih stavki aplikacije 
  - ovde je upotrebljen grid raspored i broj kolona ce biti definisan na osnovu sadrzaja koji se nadje u 
  ovom kontejneru, ali ni jedna kolona nece biti ispod 265px 
  */
  .container_show_books {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
    grid-auto-rows: 250px;
    grid-gap: 20px;
    margin: 20px;
  }
  
  /* stil za karticu u kojoj je prikazan pregled, za organizaciju rasporeda iskoriscen je flex raspored */
  .book_overviewcard {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border: 1px solid gray;
    border-radius: 5px;
  }

  .book_title_container {
    color: gray;
    background-color: whitesmoke;
    width: 100%;
    border-radius: 5px 5px 0px 0px;
    border: 1px solid gray;
  }

  .book__info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px;
  }

  .book_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 5px;
  }

  .book_title {
    /* padding: 3px; */
    text-align: center;
    font-size: 15px;
    font-weight: bold;
  }

  .book_authors{
    font-weight: bold;
  }



  /* input[type=text]:focus{
    border-radius: 4px;
    border: 3px solid whitesmoke;
    background-color: whitesmoke;
  } */

  .book_select_genre{
    padding: 10px;
    width: 35%;
    border-radius: 4px;
    border: 1px solid whitesmoke;
  }


  .book_input-container {
    display: flex;
    width: 40%;
  }
  
  .book_input-field {
    flex: 1;
    padding: 10px;
    border: 0.3px solid #ccc;
    border-radius: 4px  0px 0px 4px;
    position: relative;
  }
  
  .book_search_button {
    padding: 10px 20px;
    background-color: #ccc;
    color: white;
    border: none;
    border: 1px solid #ccc;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer; /* Add some space between input field and button */
  }